<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CIMM2Touch Test" parallel="classes"
	data-provider-thread-count="10" thread-count="10">

	<test name="regression">
		<parameter name="browser" value="chrome" />
		<parameter name="Remote Url" value="http://10.200.1.188:4444/wd/hub" />
		<classes>
			<!-- Chinna Classes Begins -->
			<!-- Chinna Classes Ends -->
			
			<!-- Priya Classes Begins -->
			
			<!-- Priya Classes Ends -->
			
			<!-- Rameshwar Classes Begins -->
			<class name="org.cimm2touch.modules.WorkbookUtilitiesTest" />
			<!-- Rameshwar Classes Ends -->
			
			<!-- Vadi Classes Begins -->
			
			<!-- Vadi Classes Ends -->
		</classes>
	</test>
</suite>

