
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CIMM2Touch Test" ><!--  parallel="methods" data-provider-thread-count="10" thread-count="10">  -->
 
<test name="regression">
 <parameter name="browser" value="chrome"/>
  <parameter name="Remote Url" value="http://10.200.1.188:5555/wd/hub"/>
    <classes>
         <class name="org.cimm2touch.modules.AdvancedSearchModuleTest"/>
         <class name="org.cimm2touch.modules.ItemsModuleTest"/>
        
         
    <!-- <methods>
      <include name="verifyDescriptionTab"></include>
      <include name="advSearch_008"></include>
         <include name="advSearch_014"></include>!
         </methods>  --> 
       
    </classes>
</test>
 
 <!--  <test name="Test2">
 <parameter name="Browser" value="chrome"></parameter>
  <parameter name="Node Url" value="http://hemanthip:4567/wd/hub"></parameter>
    <classes>
        <class name="org.google.modules.TC03" ></class>
        <class name="org.google.modules.TC04" ></class>
    </classes>
</test> -->

</suite>

